.banner {
  position: relative;
  padding-top: 0;

  .content {
    padding-top: 8.5em;
    padding-bottom: 5em;
  }

  // Call to action
  .cta {
    position: relative;
    z-index: 3;

    &__title {
      font-size: 12rem;
      line-height: 1.25;
      color: $secondary;
      text-indent: -4px;

      .accent {
        color: $primary;
      }
    }

    &__subtitle {
      max-width: 45ch;
      font-size: 2.4rem;
      color: $dark-100;
    }

    &__description {
      max-width: 45ch;
      font-size: 1.8rem;
      margin: 5em 0 2em;
    }

    &__btn {
      display: flex;
      align-items: center;
      padding: 0.75em 1.75em;
      font-size: inherit;
      border-radius: 11px;
      border: 2px solid $primary;
      color: $primary;
      font-weight: 700;
      background: none;
      transition: 300ms ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
        transform: translateY(-2px);
      }

      &:active {
        opacity: 1;
        transform: translateY(3px);
      }

      img {
        margin-right: 0.3em;
      }
    }
  }

  .statistics {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 14px 0 0 14px;
    width: 100%;
    max-width: 80rem;
    padding: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background: #ffffff;
    right: 0;
    bottom: -7rem;

    &__item {
      margin-right: 3em;
      text-align: center;
    }

    &__number {
      font-size: 5.5rem;
      color: $primary;
    }
  }

  // Decortaions:
  .woman {
    position: absolute;
    width: 33vw;
    z-index: 2;
    bottom: -50px;
    right: 15rem;

    &__decoration {
      width: 50rem;
      height: 50rem;
      background-image: url("../../src/assets/images/decor001.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom 10rem;
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-30%);
      left: -20rem;
      z-index: -1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: #dcf2ff;
    z-index: 1;
  }

  // Media
  @media (max-width: 768px) {
    .content {
      padding: 10vh 0 5vh;
    }

    .cta {
      &__title {
        font-size: 8rem;
        font-size: clamp(5rem, 15vw, 8rem);
      }

      &__subtitle {
        font-size: 2rem;
        font-size: clamp(1.7rem, 3vw, 2rem);
        width: 100%;
        max-width: 50ch;
      }

      &__description {
        font-size: 1.5rem;
        width: 100%;
      }

      &__btn {
        font-size: 1.6rem;
      }
    }

    .woman {
      display: none;
    }

    &::after {
      display: none;
    }

    .statistics {
      position: static;
      display: block;
      box-shadow: none;
      padding: 0;

      &__item {
        width: 100%;
        margin: 1.5em 0;
        text-align: initial;
      }

      &__number {
        font-size: 4rem;
        font-size: clamp(3rem, 10vw, 4.6rem);
      }
    }
  }
}
