// Colors
$primary: #2f61ad;
$secondary: #be1f35;
// $secondary: rgb(238, 29, 36);
$tertiary: #00a4e4;
$rare: #007fbd;
$dark-100: rgb(0, 0, 0);
$dark-75: rgba(0, 0, 0, 0.75);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

#__next {
  height: 100vh;

  > div {
    height: inherit;

    display: flex;
    flex-flow: column nowrap;

    main {
      flex-grow: 1;
    }
  }

  @media (max-width: 768px) {
    padding: 0 5%;
  }
}

body {
  font-size: 1.8rem;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  color: $dark-75;
}

header,
footer,
section {
  padding: 5em calc(50% - 625px) 0;
}

a {
  font-family: "poppins";
  text-transform: lowercase;
}

.fadeIn {
  animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;

  p {
    margin-top: 3rem;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
